<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>WelCome Page</title>
</head>
<body>
<button>
<a style="color:green;font-size:20px;" href="index"  target="_blank" ><b>Next</b></a>
</button>
<h1><b><i style="color:green;font-size:50px;">@ Welcome To Spring Security  </i></b></h1>
<img src="https://miro.medium.com/max/1300/1*3jPSO8IO9r0k0QTnvrTo_Q.jpeg" width="1300", height="450">
</body>
</html>